.idea/
.DS_Store
.hammerspoon/.DS_Store
/.hammerspoon/tasks_data.json

# Nix store paths
/nix/store/

# nix secrets
nix/secrets/age.key
*.age.key
nix/secrets/secrets_temp.yaml

# tf
/tf/.cf-terraforming.yaml
/devenv/dc/.env
/devenv/dc/configs/mysql/mysqldata/
