.idea/
.DS_Store
/node_modules

# Nix store paths
/store/

# nix secrets
secrets/age.key
*.age.key
secrets/secrets_temp.yaml

.cache/
/.worktrees/

.codex/
.claude/
.qwen/
/.claude/
.direnv/
specs/

result
result-*

/PaaS
/nixos-k3s
/k3s-nix

# Local scratch files
/z/
/zzzzz.md

# For Taskfile checksum etc...
/.task
mac-*.md
wake-*.sh

# ignore 本项目里所有 checksum folder
# 主要针对 taskfile checksum
checksum/
