<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>10869DCA-75EC-4267-92E6-08736264B5B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44A91741-EDBB-419E-91C0-CCD1934F0755</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18259BA3-78DA-4873-A114-0F5E3B6E0970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBEEDA2B-0DFB-4C00-BAC8-EC4845E9DFA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B7BA407-3BBF-4F12-953B-5ABF22D1B17B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>147B6DD0-46A2-4243-8070-CD303ECC5E25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2464DBA0-E195-49FE-AC8B-76E8C00871BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B570BDD-A050-4067-95FA-B13299C59415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>276D4586-0112-4A9B-A955-600E0CECC56C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>240BB510-EB2C-4591-BD7C-D05DB669370E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2848398B-653D-437D-860C-1F567262A544</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF99CB8D-D5F2-4922-AAE6-2586204D1EF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44A91741-EDBB-419E-91C0-CCD1934F0755</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B7BA407-3BBF-4F12-953B-5ABF22D1B17B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4789D5FA-7E56-4914-A204-B7B6C39F6E0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A8D7F3F-F037-42D6-ADD9-69EAB35A8B10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4912D73F-0D75-4869-A2C6-3A60A5C2F2A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ACCDFF9-ED25-4F2A-A6BB-B80BDC189DF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5859F73B-461F-476C-871A-940C743A636D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31E91D61-2060-4C94-8F3D-51B8D4368D58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DF95EF0-6952-467E-9B2B-CEAD54E600B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10869DCA-75EC-4267-92E6-08736264B5B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D051D8A-F611-400F-A1A0-6CA78AD85781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>972898C0-F4B5-44B0-A041-D2618DC6E616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>972898C0-F4B5-44B0-A041-D2618DC6E616</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A379307-83C8-4C29-AA0C-BB337EC8B23A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>30C03608-FF47-4CBF-9F00-FFFFA362E09A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B52289F9-0586-4F50-9011-880EC1CAEADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62A6AFCF-158B-410C-8DAD-7DE735206405</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBEEDA2B-0DFB-4C00-BAC8-EC4845E9DFA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFF0C862-4999-4CEA-A58D-6520495D4673</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D29BB5EB-3AE9-480B-9124-48CC83507879</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D051D8A-F611-400F-A1A0-6CA78AD85781</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D32D5D8E-785E-40DB-9F02-34EA194228B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CBAAE78-C4C0-4210-941B-E873D51E3E75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF99CB8D-D5F2-4922-AAE6-2586204D1EF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18259BA3-78DA-4873-A114-0F5E3B6E0970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F617630E-496C-4C37-9E8A-8414CF3FC241</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A81239-F911-437F-A3E7-76B2A2998B60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>常用app的快捷键</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CASK</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>240BB510-EB2C-4591-BD7C-D05DB669370E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>276D4586-0112-4A9B-A955-600E0CECC56C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>preset</key>
					<string>half-right</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.preset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3A8D7F3F-F037-42D6-ADD9-69EAB35A8B10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F617630E-496C-4C37-9E8A-8414CF3FC241</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D8A81239-F911-437F-A3E7-76B2A2998B60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>30</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>]</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4789D5FA-7E56-4914-A204-B7B6C39F6E0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>preset</key>
					<string>half-left</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.preset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>31E91D61-2060-4C94-8F3D-51B8D4368D58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>[</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5859F73B-461F-476C-871A-940C743A636D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/GoLand.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9B570BDD-A050-4067-95FA-B13299C59415</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2464DBA0-E195-49FE-AC8B-76E8C00871BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4912D73F-0D75-4869-A2C6-3A60A5C2F2A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>preset</key>
					<string>maximise</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.preset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9ACCDFF9-ED25-4F2A-A6BB-B80BDC189DF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Finder"
		set pathList to (POSIX path of (folder of the front window as alias))
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>18259BA3-78DA-4873-A114-0F5E3B6E0970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>nu ./script.nu $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBEEDA2B-0DFB-4C00-BAC8-EC4845E9DFA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BFF0C862-4999-4CEA-A58D-6520495D4673</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>subtext</key>
				<string>e.g. index.md</string>
				<key>text</key>
				<string>Create new file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2848398B-653D-437D-860C-1F567262A544</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>new_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EF99CB8D-D5F2-4922-AAE6-2586204D1EF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D29BB5EB-3AE9-480B-9124-48CC83507879</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>javascript_code</key>
					<string>(async function() {
  'use strict';

  // 获取所有“更多操作”按钮的外层 wrapper
  function getMoreActionButtonWrappers() {
    return Array.from(document.querySelectorAll('span.el-popover__reference-wrapper'));
  }

  // 依次触发多种事件
  function triggerPopoverEvents(wrapper) {
    ['mouseenter', 'mouseover', 'pointerenter', 'focus'].forEach(type =&gt; {
      const event = new Event(type, { bubbles: true, composed: true });
      wrapper.dispatchEvent(event);
    });
    // 保险起见，尝试 focus
    if (wrapper.querySelector('svg')) {
      wrapper.querySelector('svg').focus?.();
    }
  }

  function clickDeleteButton() {
    const menu = document.querySelector('.el-popover:not([style*="display: none"])');
    if (!menu) return false;
    const delBtn = Array.from(menu.querySelectorAll('.item.danger')).find(el =&gt; el.textContent.includes('删除'));
    if (delBtn) {
      delBtn.click();
      return true;
    }
    return false;
  }

  function confirmDialog() {
    const confirmBtn = Array.from(document.querySelectorAll('button')).find(btn =&gt; btn.textContent.includes('确定'));
    if (confirmBtn) {
      confirmBtn.click();
      return true;
    }
    return false;
  }

  async function sleep(ms) {
    return new Promise(resolve =&gt; setTimeout(resolve, ms));
  }

  async function batchDelete() {
    let total = 0, deleted = 0, failed = 0;
    while (true) {
      const wrappers = getMoreActionButtonWrappers();
      if (wrappers.length === 0) break;
      total++;
      const wrapper = wrappers[0];
      console.log(`处理第${total}条...`);
      triggerPopoverEvents(wrapper);
      await sleep(400);
      if (!clickDeleteButton()) {
        console.warn(`第${total}条未找到“删除”按钮，跳过。`);
        failed++;
        // 尝试跳过当前memo，继续下一个
        wrapper.parentElement?.removeChild(wrapper);
        await sleep(200);
        continue;
      }
      await sleep(300);
      confirmDialog();
      deleted++;
      await sleep(800);
    }
    console.log(`批量删除完成，总计${total}条，成功${deleted}条，失败${failed}条。`);
  }

  if (confirm('确定要批量删除当前页面所有flomo笔记吗？此操作不可撤销！')) {
    await batchDelete();
  } else {
    console.log('用户取消了批量删除操作。');
  }
})();</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/chromium-browsers/chromium.tabs.current.run.javascript</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6A379307-83C8-4C29-AA0C-BB337EC8B23A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6DF95EF0-6952-467E-9B2B-CEAD54E600B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>title_tab_url</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/chromium-browsers/chromium.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>10869DCA-75EC-4267-92E6-08736264B5B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>title=$1
url=$2

echo -n "[$title]($url)"

#if [[ "$format" == "markdown" ]]; then
#echo -n "[$title]($url)"
#elif [[ "$format" == "url" ]]; then
#echo -n "$url"
#elif [[ "$format" == "title" ]]; then
#echo -n "$title"
#fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B7BA407-3BBF-4F12-953B-5ABF22D1B17B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>147B6DD0-46A2-4243-8070-CD303ECC5E25</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/chromium-browsers/chromium.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7D051D8A-F611-400F-A1A0-6CA78AD85781</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>44A91741-EDBB-419E-91C0-CCD1934F0755</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>https://v.flomoapp.com/mine</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>30C03608-FF47-4CBF-9F00-FFFFA362E09A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>972898C0-F4B5-44B0-A041-D2618DC6E616</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>1</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>chrome.md</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>9CBAAE78-C4C0-4210-941B-E873D51E3E75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>?</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D32D5D8E-785E-40DB-9F02-34EA194228B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>?</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.jetbrains.goland</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B52289F9-0586-4F50-9011-880EC1CAEADD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>1</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>goland.md</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>62A6AFCF-158B-410C-8DAD-7DE735206405</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10869DCA-75EC-4267-92E6-08736264B5B9</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>147B6DD0-46A2-4243-8070-CD303ECC5E25</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>18259BA3-78DA-4873-A114-0F5E3B6E0970</key>
		<dict>
			<key>note</key>
			<string>Get Finder path</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>1B7BA407-3BBF-4F12-953B-5ABF22D1B17B</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>240BB510-EB2C-4591-BD7C-D05DB669370E</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2464DBA0-E195-49FE-AC8B-76E8C00871BA</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>276D4586-0112-4A9B-A955-600E0CECC56C</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2848398B-653D-437D-860C-1F567262A544</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>31E91D61-2060-4C94-8F3D-51B8D4368D58</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>3A8D7F3F-F037-42D6-ADD9-69EAB35A8B10</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>44A91741-EDBB-419E-91C0-CCD1934F0755</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>4789D5FA-7E56-4914-A204-B7B6C39F6E0D</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4912D73F-0D75-4869-A2C6-3A60A5C2F2A4</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>5859F73B-461F-476C-871A-940C743A636D</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>62A6AFCF-158B-410C-8DAD-7DE735206405</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>6A379307-83C8-4C29-AA0C-BB337EC8B23A</key>
		<dict>
			<key>xpos</key>
			<real>1280</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>6DF95EF0-6952-467E-9B2B-CEAD54E600B8</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>7D051D8A-F611-400F-A1A0-6CA78AD85781</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>972898C0-F4B5-44B0-A041-D2618DC6E616</key>
		<dict>
			<key>xpos</key>
			<real>1215</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>9ACCDFF9-ED25-4F2A-A6BB-B80BDC189DF7</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>9B570BDD-A050-4067-95FA-B13299C59415</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>9CBAAE78-C4C0-4210-941B-E873D51E3E75</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>B52289F9-0586-4F50-9011-880EC1CAEADD</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>BBEEDA2B-0DFB-4C00-BAC8-EC4845E9DFA7</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>BFF0C862-4999-4CEA-A58D-6520495D4673</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>D29BB5EB-3AE9-480B-9124-48CC83507879</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>D32D5D8E-785E-40DB-9F02-34EA194228B8</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>D8A81239-F911-437F-A3E7-76B2A2998B60</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>EF99CB8D-D5F2-4922-AAE6-2586204D1EF0</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>F617630E-496C-4C37-9E8A-8414CF3FC241</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
