apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  path: "./manifests/core/gitops/flux-instance/app"
  dependsOn:
    - name: flux-operator
